<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="../static/style.css">
<body>
<nav>
	<ul>
		<li></li>
		<li></li>
		<li></li>

	</ul>
</nav>

<div class="main">
	<div class="left">
		<div class="logo">
			<p>Smatr Parking</p>
		</div>
		<div class="links">
				<a href=""><li><img src="images/house.svg" alt="">Home</li></a>
				<a href=""><li><img src="images/house.svg" alt="">Creators</li></a>
				<a href=""><li><img src="images/house.svg" alt="">About</li></a>
				<a href=""><li><img src="/images/house.svg" alt="">Contacts</li></a>
		</div>
		

	</div>
	<div class="right">
		<div class="details">
			<div class="form">
				<form action="">
					<input type="text" placeholder="Search....">
				</form>
			</div>

			<div th:each="slot : ${slots}" class="slot-card">
			<a href="">
					<div class="lot-image">
					<img src="images/ot1.jpg" alt="">
				</div>
			</a>
				<div class="lot-text">
					<div class="street-name">
						<p th:text="${slot.lotName}">Chuka University Gate F</p>
						<p th:text="${slot.streetName}" class="sub"></p>
					</div>
					<div class="availability">
						<p>Availability</p>
						<p class="sub"><span class="sub" th:class="${slot.city} ? 'available-v1' : 'unavailable-v1'" th:text="${slot.city} ?: 'Unavailable'">2 slots</span></p>

<!--						<p  class="sub"><span class="sub" th:class="${slot.city} ? 'available-v1' : 'unavailable-v1'" th:text="${slot.city} ? ${slot.city}} : 'Unavailable'">2 slots</span></p>-->
					</div>
					<div class="reviews">
						<div class="star">
							<div class="four-pointed-star"></div>
							<div class="four-pointed-star"></div>
							<div class="four-pointed-star"></div>
							<div class="four-pointed-star"></div>
							<div class="four-pointed-star"></div>
						</div>
						<div style="margin-top:1.5vh">
							<p class="sub">78 reviews</p>
						</div>
					</div>
				</div>
				<div class="lot-buttons">
					<a th:href="${slot.url}"><button>Reserve</button></a>
					<button>Review</button>
					<button>Navigate</button>
				</div>
				
			</div>

		</div>
		<div class="maps" id="maps">
			<iframe id="map-frame"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.756106319232!2d37.65430965060593!3d-0.3199674354251008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1827b9cbd73ed95f%3A0xefb4ff5ee3ca6fd4!2sChuka%20University%20Gate%20F!5e0!3m2!1sen!2ske!4v1679642205791!5m2!1sen!2ske" width="920" height="950.77" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<!--			<iframe id="map-frame" style=" background-color: red;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.756106319232!2d37.65430965060593!3d-0.3199674354251008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1827b9cbd73ed95f%3A0xefb4ff5ee3ca6fd4!2sChuka%20University%20Gate%20F!5e0!3m2!1sen!2ske!4v1679642205791!5m2!1sen!2ske" width="720" height="730.77" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade""></iframe>-->
		</div>
	</div>




</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- <script src="index.js"></script> -->
    <script src="../static/index.js" defer></script>
</body>
</html>
<script></script>